<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mango.mangoframemaster.mapper.UserInfoMapper">

    <resultMap id="BaseResultMap" type="com.mango.mangoframemaster.domain.entity.UserInfo">
            <id property="user_id" column="user_id" jdbcType="INTEGER"/>
            <result property="username" column="username" jdbcType="VARCHAR"/>
            <result property="password_hash" column="password_hash" jdbcType="VARCHAR"/>
            <result property="password_salt" column="password_salt" jdbcType="VARCHAR"/>
            <result property="full_name" column="full_name" jdbcType="VARCHAR"/>
            <result property="email" column="email" jdbcType="VARCHAR"/>
            <result property="phone_number" column="phone_number" jdbcType="VARCHAR"/>
            <result property="role" column="role" jdbcType="OTHER"/>
            <result property="permissions" column="permissions" jdbcType="VARCHAR"/>
            <result property="account_status" column="account_status" jdbcType="OTHER"/>
            <result property="registration_ip" column="registration_ip" jdbcType="VARCHAR"/>
            <result property="last_login_ip" column="last_login_ip" jdbcType="VARCHAR"/>
            <result property="avatar_url" column="avatar_url" jdbcType="VARCHAR"/>
            <result property="net_name" column="net_name" jdbcType="VARCHAR"/>
            <result property="registration_time" column="registration_time" jdbcType="TIMESTAMP"/>
            <result property="last_login_time" column="last_login_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        user_id,username,password_hash,
        password_salt,full_name,email,
        phone_number,role,permissions,
        account_status,registration_ip,last_login_ip,
        avatar_url,net_name,registration_time,
        last_login_time
    </sql>
</mapper>
